services:
  web:
    build: .
    container_name: django-school-prod
    command: >
      sh -c "
      python school/manage.py migrate --noinput &&
      python school/manage.py collectstatic --noinput &&
      gunicorn school.wsgi:application --bind 0.0.0.0:8000
      "
    ports:
      - "8000:8000"
    environment:
      DEBUG: "False"
      DJANGO_SETTINGS_MODULE: school.settings
      PYTHONPATH: /app/school
    restart: always
